:root {
    --theme-color: #ACACAC;
    --theme-background: #141418;
    --theme-accent: #B28442;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    font-family: 'Roboto', sans-serif;

    background-color: var(--theme-background);
    color: var(--theme-color);
}

td {
    vertical-align: top;
    padding-right: 1rem;
}

h1 {
    margin-bottom: .25rem;
}

h2, h3, p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--theme-color);

    margin-top: .25rem;
}

a {
    color: inherit;
}

img {
    display: block;
    margin: 0;

    width: 100%;
}

.img-link {
    color: inherit;
    display: block;
    
    margin: auto auto 0.75rem auto;
}

video {
    width: 100%;
    height: auto;
    display: block;

    margin: auto auto .75rem auto;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    margin: auto auto 0.75rem auto;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    margin: auto auto 2rem auto;
}

.footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.home {
    color: var(--theme-accent);
    text-decoration: none;
}

.header {
    margin-bottom: 0;
    color: var(--theme-accent);
}

.navigation a {
    color: inherit;
    text-decoration: none;
}

.header small {
    font-weight: 400;
    color: var(--theme-color);
}

.container {
    max-width: 48rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    float: right;
    line-height: 1.25rem;
    word-spacing: 1rem;
}

.overview {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    color: var(--theme-accent);

    line-height: 3rem;

    margin-bottom: 6rem;
}

.overview h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0;
}

.overview h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    line-height: 100%;
}

.overview a {
    color: var(--theme-color);
    text-decoration: none;
}

.main h2 a {
    position: relative;
    left: 0.5rem;
    top: 0.25rem;
    font-size: xx-large;
    color: var(--theme-color);
    text-decoration: none;
}
